<html mxlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerFragmentHead">
    <link rel="stylesheet" href="/styles/header.css" />
  </head>
  <body>
    <div th:fragment="headerFragment" id="header">
      <h1 th:text="${title}"></h1>
      <div class="login-area container mb-3">
        <div th:if="${session.userId==null}">
          <a href="/login">
            <button class="btn btn-info">로그인</button>
          </a>
          <a href="/join">
            <button class="btn btn-info">회원가입</button>
          </a>
        </div>
        <div th:unless="${session.userId==null}">
          <a href="/logout"><button class="btn btn-info">로그아웃</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
