@charset "UTF-8";

body{
	background-image: url('../images/title/title.png');
	background-repeat: no-repeat;
	background-size: cover;
}


.titleButton{
	background-image: url('../images/title/startbutton.png');
	color: gold;
}

.titleButton:hover{
	background-image: url('../images/title/startbutton.png');
	color: blue;
}

.startButton{
position: absolute;
bottom: 20%;
left: 45%;
}

.loadButton{
position: absolute;
bottom: 10%;
left: 47%;
}