@charset "UTF-8";

* {
	box-sizing: border-box;
	color: green;
}

#root {
	width: 1024px;
	height: 768px;
	background-image: url('../images/dungeon/event/eventBackground.png');
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	margin: auto;
}

.padding-box {
	width: 100%;
	height: 100%;
	padding: 92px 0px 170px 80px;
	display: flex;
	flex-wrap: wrap;
}

.event-title-area {
	width: 100%;
	height: 10%;
	padding: 24px 0px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	/*	background-color: rgba(0, 255, 0, 0.5);*/
	font-weight: bold;
	font-size: 20pt;
}

.img-area {
	width: 100%;
	height: 72%;
	padding: 0px 0px 37px 0px;
	display: flex;
	flex-wrap: wrap;
	/*background-color: rgba(0, 255, 0, 0.5);*/
}

.event-img {
	width: 100%;
	height: 100%;
}

.choice-area {
	width: 175%;
	height: 68%;
	padding: 185px 0px 0px 10px;
	display: flex;
	flex-wrap: wrap;
	/*background-color: rgba(0, 255, 0, 0.5);*/
	font-size: 15pt;

}

.button-area {
	width: 90%;
	height: 30%;
	padding: 0px 0px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	/*background-color: rgba(0, 255, 0, 0.5);*/
	font-size: 15pt;
}

.event-text-area {
	width: 90%;
	height: 70%;
	padding: 0px 0px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	/*background-color: rgba(0, 255, 0, 0.5);*/
	font-size: 15pt;
}

.choice-button{
	width: 100%;
}