@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
	box-sizing: border-box;
}

#root {
	width: 1024px;
	height: 768px;
	background-image: url('../images/village/shop.png');
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	margin: auto;
}

.category {
	width: 100%;
	padding: 80px 80px 134px 140px;
	/*background-color: rgba(255, 0, 0, 0.5);*/
}

.editDeck {
	width: 0px;
	height: 0px;
	position: relative;
	right: 100%;
	top: 83%;
	cursor: pointer;
	/*background-color: rgba(255, 0, 0, 0.5);*/
}

.editDeckIcon {
	width: 75px;
	position: relative;
}

.editDeckButton {
	cursor: pointer;
	width: 75px;
	font-size: 18px;
	font-weight: bold;

	background: linear-gradient(45deg,
			#ff0000,
			#ff7300,
			#fffb00,
			#48ff00,
			#00ffd5,
			#002bff,
			#7a00ff,
			#ff00c8,
			#ff0000);
	color: white;
	background-size: 400% 400%;
	animation: gradient1 5s ease infinite;
}

@keyframes gradient1 {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient2 {
	0% {
		background-position: 100% 50%;
	}

	50% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100% 50%;
	}
}

.editDeckButton:hover {
	color: red;
}


.inToTheDungeon {
	position: relative;
	width: 0px;
	height: 0px;
	right: 9%;
	top: 79%;
	cursor: pointer;
	/*background-color: rgba(255, 0, 0, 0.5);*/
}

.inToTheDungeonIcon {
	position: relative;
	width: 90px;
}

.dungeonButton {
	width: 90px;
	color: #fff;
	border-radius: 6px;
	background-color: green;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.flex-box {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	/*background-color: rgba(255, 255, 0, 0.5);*/
}

.dungeonButton:hover {
	color: red;
}

.cardBorder {
	width: 16%;
	height: 26%;
	/*background-color: rgba(255, 0, 0, 0.5);*/
	transform: scale(1.0);
	transition: transform .5s;
}

.cardBorder:hover {
	transform: scale(2.0);
	transition: transform .5s;
	z-index: 2;
}

.card-area {
	font-size: 10px;
	color: white;
	width: 75%;
	height: 88%;
	/*background-color: rgba(255, 0, 0, 0.5);*/

}

.sellCard {
	width: 100%;
	cursor: pointer;
}

.card-mana {
	bottom: 100%;
	padding: 3px 0px 0px 7px;
	position: relative;
	z-index: 1;
}

.card-explain-area {
	overflow: auto;
	bottom: 100%;
	width: 90%;
	height: 84%;
	position: relative;
	padding: 58px 0px 0px 12px;
	/*  background-color: rgba(255, 0, 0, 0.5);*/
	z-index: 1;
}

.card-explain-area::-webkit-scrollbar {
	display: none;
}