<!DOCTYPE html>
<html mxlns:th="http://www.thymeleaf.org">
  <head th:fragment="boardFragmentHead">
    <link rel="stylesheet" href="/styles/board/index.css" />
  </head>
  <body>
    <div th:fragment="boardFragment" class="board">
      <div>
        <form action="" method="post">
          <input type="text" name="title" placeholder="제목" />
          <textarea
            name="content"
            class="table-text"
            placeholder="내용"
          ></textarea>
          <button>글쓰기</button>
        </form>
      </div>
      <div>글나올곳</div>

      <div>아이디를 먼저 만들지 않으면 오류가 뜹니다.</div>
    </div>
  </body>
</html>
