<html mxlns:th="http://www.thymeleaf.org">
  <head th:fragment="boardItemFragmentHead">
    <link rel="stylesheet" href="/styles/board/item.css" />
    <head th:replace="~{basic/userInfo :: userInfoFragmentHead}"></head>
  </head>
  <body>
    <div th:fragment="boardItemFragment" th:object="${board}" class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div th:replace="~{/basic/userInfo :: userInfoFragment}"></div>
        <div th:text="*{createdAt}"></div>
      </div>
      <hr />
      <p th:utext="*{content}"></p>
      <!-- <p>[(*{content})]</p> -->

      <div>
        댓글
        <div>
          <div th:each="item:${comment}" th:object="${item}">
            <div th:if="*{reply==0}">
              <div
                class="comment-read-area d-flex justify-content-between align-items-center"
              >
                <div>작성자 : [[*{name}]]</div>
                <div th:text="*{content}"></div>
                <div th:text="*{createdAt}"></div>
              </div>
              <form
                action="/comment"
                method="post"
                class="comment-text-area"
                id="comment-text-area"
                style="display: none"
              >
                <textarea class="comment-text" name="comment"></textarea>
                <input
                  type="hidden"
                  th:value="${board.id}"
                  name="currentPost"
                />
                <input type="hidden" name="replyId" th:value="*{id}" />
                <button>대댓글 쓰기</button>
              </form>
            </div>
            <div
              th:each="reply:${comment}"
              th:if="${item.id==reply.reply}"
              class="d-flex justify-content-between align-items-center"
            >
              <div>작성자 : [[${reply.name}]]</div>
              <div th:text="${reply.content}"></div>
              <div th:text="${reply.createdAt}"></div>
            </div>
          </div>
        </div>

        <form action="/comment" method="post">
          <input type="hidden" th:value="*{id}" name="currentPost" />
          <textarea name="comment" cols="30" rows="10"></textarea>
          <button>댓글 쓰기</button>
        </form>
      </div>

      <form action="/edit">
        <input type="hidden" th:value="*{userId}" name="postUser" />
        <button th:value="*{id}" name="currentPost">수정</button>
      </form>
      <form action="/delete" method="post">
        <input type="hidden" th:value="*{userId}" name="postUser" />
        <button th:value="*{id}" name="currentPost">삭제</button>
      </form>
      <script src="/scripts/board/item.js"></script>
    </div>
  </body>
</html>
