<html mxlns:th="http://www.thymeleaf.org">
  <head th:fragment="boardItemFragmentHead">
    <link rel="stylesheet" href="/styles/board/item.css" />
    <head th:replace="~{basic/userInfo :: userInfoFragmentHead}"></head>
  </head>
  <body>
    <div th:fragment="boardItemFragment" th:object="${board}" class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div th:replace="~{/basic/userInfo :: userInfoFragment}"></div>
        <div th:text="*{createdAt}"></div>
      </div>
      <hr />
      <p th:utext="*{content}"></p>
      <!-- <p>[(*{content})]</p> -->

      <form action="/edit">
        <input type="hidden" th:value="*{userId}" name="postUser" />
        <button th:value="*{id}" name="currentPost">수정</button>
      </form>
      <form action="/delete" method="post">
        <input type="hidden" th:value="*{userId}" name="postUser" />
        <button th:value="*{id}" name="currentPost">삭제</button>
      </form>
    </div>
  </body>
</html>
