@charset "UTF-8";

.editDeck{
	width: 100px;
	position: absolute;
	left: 25%;
	bottom: 50%;
}

.inToTheDungeon{
	width: 100px;
	height: 200px;
	position: absolute;
	right: 25%;
	bottom: 50%;
}